body{
    font-family: sans-serif;
    color: rgb(242, 116, 6);
}

hr{
    width:25%;
    color:rgba(19, 3, 125, 0.797);
    border-style: dotted none none;
    border-width: 15px;
    margin: 5em auto 5em auto;
}

li{
    list-style: none;
}

footer li{
    text-decoration: none;
    line-height: 2em;
}
footer a:hover{
    color:black;
}
.nav-bar #home{
    background-color:transparent;
    color:rgb(242, 116, 6);
    border-radius: 0em;
    margin: 0px auto;
    max-width: fit-content;
}
#home:hover{
    background-color: transparent;
    color: rgb(242, 116, 6);
}
.nav-bar{
    display: grid;
    grid-template-columns:20% 50% auto;
    align-items: baseline;
    background-color: #f9f8f5;
    border-radius: 2em 2em 0em 0em;
    font-weight: 600;
    font-family: sans-serif;
    color:rgb(242, 116, 6);
    padding-right: 2em;
    justify-items: space-evenly;
}

.nav-bar .top{
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-column-gap:1em;
    background-color: #f9f8f5;
    border-radius: 2em 2em 0em 0em;
    font-weight: 600;
    font-family: sans-serif;
    color:rgb(242, 116, 6);
    align-items: baseline;
    justify-content: center;
    text-align: center;
}
.nav-bar .top a, .nav-bar #home{
    text-decoration: none;
    min-width: fit-content;
    border-radius: 1em;
    padding: 0.5em;
    margin: 2em;

}
.nav-bar a:hover{
    background-color: rgb(242, 116, 6);
    color: whitesmoke;
    transition: 500ms;
    
}

.active{
    color:#f9f8f5;
    background-color: rgb(242, 116, 6);
    padding: 1em;
    border-radius: 1em;
}
.non-active{
    color:rgb(242, 116, 6);
}
.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color:#f9f8f5;
    border-radius: 0em 0em 2em 2em;
}
.right{
        display: flex;
        flex-direction: row;
        max-height: fit-content;
        justify-self: right;
        margin-right: 0.5em;
}
.right a:hover{
    background-color: transparent;
    border: none;
}
.search{
    display: flex;
    flex-direction: row;
    border-radius:100px;
    border: solid rgb(242, 116, 6)3px;
    margin-top: 0.5em;

}

.nav-bar .search > input{
    border-radius:100px 0px 0px 100px;
}
.search > button{
    border-radius: 0px 32px 32px 0px;
    border: none;
    width: 20%;
    background-color:rgb(242, 116, 6);
}
.search > button:hover{
    background-color: rgb(247, 135, 36);
}

.nav-bar .icons{
    margin-top: 1em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}

.icons :hover{
    border: 1px solid rgb(247, 135, 36);
    border-radius: 50%;
}

.text{
   display: flex;
   font-size: larger;
   flex-direction: column;
   justify-content: center;
  
}

.logo img{
    max-width: 500px;
   
}

.main h2{
    margin: 3em;
    text-align: center;
}
.products a{
    text-decoration: none;
    color:whitesmoke;
}

.food, .toys, .hair, .accesories, .tree, .litter, .glasses, .clothes{
    background-size: cover;
    border-radius: 1.5rem;
    color: rgb(242, 116, 6);
    display: flex;
    font-weight: 600;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    max-width: 40%;
    min-width: 35%;
    margin-bottom: 1.5rem;
    text-align: center;   
}

.products h3{
    font-size: 2em;
}
.food{
    background-image: url(../img/cat\ food.webp);
}

.toys{
    background-image: url(../img/cat\ toys.webp);
}
.hair{
    background-image: url(../img/cat\ hair.jpg);
}
.accesories{
    background-image: url(../img/cat\ acce.jpeg);
}

.products a{
    background-color: rgb(242, 116, 6) ;
    border-radius: 1.5em;
    border: none;
    padding: 1em;
    width: max-content;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 1em;
    text-decoration: none;
}

.products button{
    background-color:  rgb(242, 116, 6);
    border: none;
    color: whitesmoke;
    font-weight: 600;
    width: max-content;
    display: flex;
    align-self: center;
    justify-self: center;
}
.products a:hover{
    font-size: larger;
    border: solid 2px;
}

.container-footer{
    background-color: #f9f8f5;
    border-radius: 0em 0em 2em 2em;
    display: flex;
    flex-direction: row;
    font-family: monospace;
    padding-left: 1rem;
    padding-right: 1em;
    justify-content: space-around;
    color:rgb(19, 3, 125);

}

.contact, .help, .others, .payment{
    height: max-content;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color:  rgb(242, 116, 6); 
    font-weight: 400;
}
.container-footer ul{
    padding-left: 0px;

}
/*PRODUCTS*/
.all-products{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.all-products button{
    background-color:transparent;
    border-radius: 1.5em;
    border: none;
    padding: 1em;
    color:rgb(245, 129, 6);
    width: 100%;
    min-height: 400px;
}
.all-products button:hover{
    border-radius: 1.5em;
    border: none;
    padding: 1em;
    color:slateblue;
    width: 100%;
    min-height: 400px;
}
.all-products .toys{
   background-image: url(../img/cat\ toys.webp);
   background-size: cover;
}

.all-products .food{
    background-image: url(../img/cat\ food.webp);
    background-size: cover;
   
}
.all-products .accesories{
    background-image: url(../img/cat\ acce.jpeg);
    background-size: cover;   
}

.all-products .hair{
    background-image: url(../img/cat\ hair.jpg);
    background-size: cover;
}
.tree{
    background-image: url(../img/cat\ tree.jpeg);
    background-size: cover;
}
.litter{
    background-image: url(../img/litter.webp);
    background-size: cover;

} 
.glasses{
    background-image: url(../img/glases.jpg);
    background-size: cover;
} 
.clothes {
    background-image: url(../img/costums.jpg);
    background-size: cover;
}
#letters{
    font-size: 3.5rem;
    font-weight: 800;  
    background-color:rgba(255, 255, 255, 0.82); 
    border-radius: 2em;
    min-width: 100%;
}
#letters :hover{
    font-size: 3.5rem;
    font-weight: 800;
    color: rgb(245, 129, 6);   
}
/*REGISTRATION FORM*/
.registration-form{
    width: 30%;
    text-align: left;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f8f5;
    border-radius: 2em;
    padding: 2em;
    margin: 2em;
    color:rgb(19, 3, 125);
}
.title-reg{
    text-align: center;
}
.row::after {
    content: "";
    display: table;
    clear: both;
    }

input[type=text], select, [type=password]{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 1em;
    }
    
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    }


.registration-form button {
    margin: 2em 0em 2em 0;
    padding: 0.5em;
    }


.container-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.float{
    align-self: center;
    max-width: 600px;
    max-height: 500px;
    text-align: center;
    color:rgb(19, 3, 125);

}
/* ABOUT PAGE*/

.about{
    display: flex;
    align-self: center;
}
.about img{
  max-width: 600px;
  height: fit-content;
}
.text-about{
    margin: 1.5em;
    min-width: 360px;
    max-width: 600px;
    height: fit-content;
}
.about-page{
    display: flex;
    justify-content: center;
}

.text-contact{
    background-color: rgb(245, 129, 6);
    color: black;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
}
/* ACCOUNT PAGE*/
.user-account form{
    width: fit-content;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button{
    margin: 1em;
}
/*media query reg form*/
@media only screen and (min-width:360px) and (max-width:900px){
    iframe{
        width:100%;
      
    }
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px auto;
        justify-items: center;
    }
    .logo img{
        min-width: 100px;
        margin: 0px auto;

    }
   
  

    .nav-bar .right{
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-family: sans-serif;
        color:rgb(242, 116, 6);
        align-items: center;
        margin:0px auto;
        justify-items: center;
    }

    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
        background-color: #f9f8f5;
        border-radius: 1em 1em 0em 0em;
        padding: 0 1em;
        font-weight: 400;
        font-family: sans-serif;
        color: rgb(245, 129, 6);
        justify-content:center;
        justify-items: center;
    }

    .nav-bar .top{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-column-gap: 0.5em;
        max-width: 350px;
        font-size: small;
        border-radius: 0;
        background-color: transparent; 
        text-align: center;   
        align-items: center;
        padding-left: 0px;
        
    }
    .nav-bar #home{
        display: none;
    }
    .search{
        display: flex;
        flex-direction: row;
        width:fit-content;
        border-radius:32px 32px;
        border: solid rgb(242, 116, 6) 3px;
        margin-top: 1em;
        flex-wrap: nowrap;
    }
    .search input{
        border-radius:32px 0px 0px 32px;
        border: none;
        background-color: whitesmoke;
    }
    .search button{
        border-radius: 0px 32px 32px 0px;
        border: none;
        min-height: fit-content;
        background-color: rgb(242, 116, 6);

    }
 
    .food, .toys, .hair, .accesories, .tree, .litter, .glasses, .clothes{
        background-size: cover;
        border-radius: 1.5rem;
        color: rgb(245, 129, 6);
        font-weight: 600;
        font-family: sans-serif;   
        flex-direction: row;
        font-size: xx-small;
        min-width: 80%;
        min-height: 150px;
        font-size: larger;
       align-items: center;
    }

    #letters{
        font-size: 2rem;
        font-weight: 500;    
    }

    .registration-form{
        border-radius: 5px;
        background-color: #f8f4f4;
        min-width: 400px;
        font-size: small;
    }

    .container-reg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .float{
        align-self: center;
        text-align: center;
        color:rgb(19, 3, 125);
        margin: 1.5em;
        margin-bottom: 2em;
    
    }

    .float img{
        max-width: 300px;
    }

    .about-page{
        flex-direction: column;
        margin: 10%;
        align-content: center;
        max-width: 400px;
    }
    .text-about{
        margin: 0.5em;
        max-width: 360px;
    }
    .about img{
       max-width: 100%;
    }

.container-footer{
    background-color: #f9f8f5;
    border-radius: 0em 0em 2em 2em;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    justify-content: space-around;
    color:rgb(19, 3, 125);
}

.contact, .help, .others, .payment{
    height: max-content;
    align-items: center;
    margin-left: 0.5em;
}
.container-footer li{
    display: none;
}
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      padding: 0.5em;
    }
    }
